# AZURE STORAGE
AZURE_STORAGE_CONNECTION_STRING=""

# AZURE OPENAI CONFIG
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_CHAT_DEPLOYMENT=""

# AZURE OPENAI EMBEDDINGS
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""

# AZURE AI SEARCH
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_INDEX_NAME=""

# AZURE VIDEO INDEXER
AZURE_VI_NAME=""
AZURE_VI_LOCATION=""
AZURE_VI_ACCOUNT_ID=""
AZURE_SUBSCRIPTION_ID=""
AZURE_RESOURCE_GROUP=""

# AZURE MONITORING
APPLICATIONINSIGHTS_CONNECTIONS_STRING=""

# LANGSMITH
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="brand-guardian-prod"

# OTEL
OTEL_SERVICE_NAME="brand-guardian-api"
OTEL_SERVICE_NAMESPACE="brand-guardian"
OTEL_SERVICE_VERSION="1.0.0"
